/* Estilo Global */

:root {
    --cor-fundo: #47c5ac;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

h1,
h2 {
    color: var(--cor-fundo);
    /* Azul escuro */
    text-align: center;
}

h3 {
    color: #FFFFFF;
}

/* Cabeçalho */
.header {
    background-color: var(--cor-fundo);
    /* Azul escuro */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    color: white;
}

#logo-ifnmg {
    max-width: 250px;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

/* Seção de Dados Atuais */
.dados-atualizados {
    padding: 20px;
    background-color: #E0E0E0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--cor-fundo);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 155px;
    text-align: center;
    margin: 10px;
}

.card i {
    font-size: 50px;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

/* Seção vizualizações */
.visualizacao {
    padding: 2em;

    h1 {
        margin-top: 0;
    }
}

.graficos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    /* Center the grid */
    max-width: 100%;
    /* Prevent overflow */
}

/* Seção de Dados Históricos */
.dados-historicos {
    padding: 20px;
    background-color: #F5F5F5;
}

.pesquisa {
    text-align: center;
    margin: 0;

    #dados-historicos .pesquisa {
        margin-bottom: 20px;
    }
}

.pesquisa label {
    margin-right: 10px;
}

.pesquisa input[type="date"],
.pesquisa input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pesquisa button {
    padding: 10px 20px;
    border: none;
    background-color: var(--cor-fundo);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pesquisa button:hover {
    background-color: var(--cor-fundo);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--cor-fundo);
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Rodapé */
.footer {
    background-color: var(--cor-fundo);
    color: white;
    text-align: center;
    padding: 10px;
}
