* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161623; /* Cor de fundo */
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #2e2e48; /* Cor do card */
    color: #ffffff; /* Texto em branco */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.card p {
    font-size: 1.2rem;
    color: #b0b0c3; /* Texto em cinza claro */
}

/* AnimaÃ§Ã£o de entrada suave dos cards */
@keyframes pop {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.card {
    animation: pop 0.6s ease-in-out;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #2e2e48; /* Cor de fundo semelhante aos cards */
    color: #ffffff; /* Texto branco */
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* Botão de Interrogação */
.help-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.help-button:hover {
    background-color: #0056b3;
}

/* Card de Ajuda */
.help-card {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    display: none; /* Inicialmente escondido */
    z-index: 1000;
}

.help-card h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.help-card p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

.help-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.help-card button:hover {
    background-color: #0056b3;
}
